.signin__section,
.forget-password__section {
  width: 100%;
  padding: 100px 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-main);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
}

.signin__section__error {
  padding: 10px 5px 20px 5px;
  color: #721c24;
}
